<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid':f.primeiroNome?.errors && f.primeiroNome?.touched}" formControlName="primeiroNome" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.primeiroNome?.errors?.required" class="invalid-feedback">
            primeiroNome é requerido
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid':f.segundoNome?.errors && f.segundoNome?.touched}" formControlName="segundoNome" placeholder="Insira o Último nome" />
          <div *ngIf="f.segundoNome?.errors?.required" class="invalid-feedback">
            segundoNome é requerido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.email?.errors && f.email?.touched}" formControlName="email"  type="text" placeholder="Insira o Nome Completo" />
        <div *ngIf="f.email?.errors?.required" class="invalid-feedback">
          email é requerido
        </div>
        <div *ngIf="f.email?.errors?.email" class="invalid-feedback">
          email precisa ser valido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.usuario?.errors && f.usuario?.touched}" formControlName="usuario" type="text" placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.usuario?.errors?.required" class="invalid-feedback">
          usuario é requerido
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.senha?.errors && f.senha?.touched}" formControlName="senha" type="password" placeholder="Digite uma Senha" />
          <div class="invalid-feedback">
            campos é requerido
          </div>
        <div *ngIf="f.senha?.errors?.required" class="invalid-feedback">
            A senha é requerida
        </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.confirmarSenha?.errors && f.confirmarSenha?.touched}" formControlName="confirmarSenha" type="password" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmarSenha?.touched && f.confirmarSenha?.invalid" class="invalid-feedback">
            <div *ngIf="f.confirmarSenha?.errors?.required">Senha é requirida</div>
            <div *ngIf="f.confirmarSenha?.errors?.confirmarSenha">confirmar senha deve ser igual a senha</div>
        </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
